.tabItem-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.tabItem {
  font-family: 'Roboto';
  font-size: 24px;
  color: #7b8794;
}
.tabeItem-button {
  background: none;
  border: none;
  outline: none;
}
.highlight {
  color: blue;
  text-decoration-line: underline;
}
